<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='./style.css'/>
	<script src='./script.js'></script>
	<title>Le convertisseur qui marche à moitié :c</title>
</head>
<body>
	<h1 class='header'>Convertissez votre vidéo Youtube en fichier audio au format MP3 !</h1>
	<input class='URL-input' placeholder='https://www.youtube.com/watch?v=dQw4w9WgXcQ'/>
	<button class='convert-button' onclick="checkLink()">Convertir en MP3</button>
	<div class="session">
		<table>
			<caption>Votre session de téléchargement. Le serveur a été lancé le : <%= sessionDate %> à <%= heure %></caption>
			<tbody>
				<% for (let i = 0; i < data.length; i++) { %>
					<tr class="myTab"> 
						<td>Titre : <%= data[i].title %><br>
							Auteur-e : <%= data[i].author %><br>
							Heure : <%= data[i].horaire %>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<p>Voici un vrai convertisseur Youtube qui vous permet de convertir vos vidéos Youtube au format MP3 ! C'est <b>gratuit</b> et <b>sans publicités</b> ! Entrez votre lien et laissez le programme faire le reste, vous n'avez juste qu'à télécharger votre fichier ! <i>À noter que l'opération peut prendre un peu de temps.</i><br><i>Notez que le projet est disponible également sur Android. Pour en savoir + rejoignez le Discord !</i></p>
	
	<div class="discord">
		<h1>Rejoignez le <a target="_blank" href="https://discord.gg/S8Xf8Bc24g"> Discord</a> !</h1>
		<iframe src="https://discord.com/widget?id=1040284559683625070&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
		<h2>Pourquoi le rejoindre ?</h2>
		<div class="faq">
			<ul>
				<li><b style="color: rgb(86, 86, 235);">››</b> Signalez des bugs</li>
				<li><b style="color: violet;">››</b> Partagez vos idées</li>
				<li><b style="color: orange;">››</b> Donnez votre retour</li>
				<li><b style="color: red;">››</b> Discutez avec les membres</li>
			</ul>
			<img src="./logo.png" alt="Logo du convertisseur">
		</div>
	</div>
</body>
</html>